[alias]
  # List all available aliases
  alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  # List all branches
  branches = branch -a
  # Delete a branch
  delete = branch -D
  # Checkout
  cd = checkout
  # Hard resets the local branch to the remote version.
  # WARNING: Any changes comitted will be lost. This is a destructive command!
  hardreset = "!f(){ read -n 1 -r -p 'Are you sure that you want to run git hardreset? [Y/n] '; echo; [[ $REPLY =~ ^[Yy]$ ]] && echo; git reset --hard origin/$(git rev-parse --abbrev-ref HEAD); }; f"
  # Fetch & Rebase upstream/main
  rbu = !git fetch upstream && git rebase upstream/main
  # Fetch & Rebase on top of origin/main, non-interactive
  rb = !git fetch origin && git rebase origin/main
  # Continue rebase
  rbc = rebase --continue
  # Abort rebase
  rba = rebase --abort
  # Squash parameter given amount of commits
  squash = "!f(){ git rebase -i HEAD~$1; }; f"
  # Squash the amount of commits between HEAD and origin/main
  squashdiff = !git rebase -i HEAD~$(git rev-list --count origin/main..$(git rev-parse --abbrev-ref HEAD))
  # Yeet a PR to GitHub
  yeet = !gh pr create
  # Commit with whatthecommit.com
  yolo = "!f() { response=$(curl -s http://whatthecommit.com/index.json); message=$(echo ${response} | jq -r '.commit_message'); link=$(echo ${response} | jq -r '.permalink'); git commit $@ -nam \"chore: $(echo ${message} | tr '[:upper:]' '[:lower:]')\" -m \"permalink: ${link}\"; }; f"
[commit]
  gpgsign = true
[core]
  autocrlf = false
  excludesfile = "~/.gitignore_global"
  editor = code
[credential]
	helper = manager-core
[diff]
	tool = vscode
[diff "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pager]
  branch = false
[pull]
  rebase = true
[rebase]
  autostash = true
[tag]
  forceSignAnnotated = true
[user]
  name = Hezekiah Hendry
  email = hezekiah.hendry@gmail.com
	signingkey = PLACEHOLDER_KEY
